<div class="container" align="center">   
	<mat-card>
	<mat-card-content align="center">  
	<form [formGroup]="prescriptionForm"(ngSubmit)="onFormSubmit(prescriptionForm.value)">  
		<table  class="centerTable">  
		<tr>  
		<td class="tbl1">  
			<mat-form-field class="demo-full-width">  
				<input formControlName="PatientName" matTooltip="Enter Patient Name" matInput autocomplete="off" placeholder="Patient Name">  
			</mat-form-field>  
			<mat-error>  
				<span *ngIf="!prescriptionForm.get('PatientName').value && prescriptionForm.get('PatientName').touched"></span>  
			</mat-error>  
		</td> 
            <td class="tbl1">  
                  <mat-form-field class="demo-full-width">  
                        <input formControlName="PatientAge" matTooltip="Enter Patient Age" matInput autocomplete="off" placeholder="Patient Age">  
                  </mat-form-field>  
                  <mat-error>  
                        <span *ngIf="!prescriptionForm.get('PatientAge').value && prescriptionForm.get('PatientAge').touched"></span>  
                  </mat-error>  
            </td>  
		<td class="tbl1">  
                  <mat-form-field class="demo-full-width">  
                        <input matInput [matDatepicker]="picker"matTooltip="Enter Prescription creation date" formControlName="DateTime" autocomplete="off" placeholder="Choose Date">  
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
                  <mat-datepicker #picker></mat-datepicker>  
                  </mat-form-field>  
                  <mat-error>  
                        <span *ngIf="!prescriptionForm.get('DateTime').value && prescriptionForm.get('DateTime').touched"></span>  
                  </mat-error>  
		</td>  
		</tr>  
		<tr>  
		<td class="tbl1">
                  <mat-form-field class="demo-full-width">  
                        <input formControlName="DoctorId" matTooltip="Enter Doctor Id" matInput autocomplete="off" placeholder="Doctor ID">  
                  </mat-form-field>  
                  <mat-error>  
                        <span *ngIf="!prescriptionForm.get('DoctorId').value && prescriptionForm.get('DoctorId').touched"></span>  
                  </mat-error>  
		</td>  
		<td class="tbl1">  
			<ng-multiselect-dropdown formControlName="MedicineIdsList"
                        [placeholder]="'Select medicine'"
                        [settings]="dropdownSettings"
                        [data]="dropdownList"
                        (onSelect)="onItemSelect($event)"
                  >
                  </ng-multiselect-dropdown>	 
		</td>  
		</tr>  
		<tr>  
		<td></td>  
		<td  class="content-center">  
			<button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!prescriptionForm.valid">Submit</button>      
			&nbsp;&nbsp;&nbsp;
			<button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
		</td>  
		<td>  
			<p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
			{{massage}}  
			</p>  
		</td>  
		</tr>  
		</table>
	<br><br>
	<table class="table"style="text-align: center;" >  
		<tr ngclass="btn-primary" style="background-color: rgb(42, 151, 109)">  
			<th class="tbl2">Prescription Id</th>  
			<th class="tbl2">Patient Name</th>  
			<th class="tbl2">Patient Age</th>  
			<th class="tbl2">Date</th>  
			<th class="tbl2">Doctor Name</th>  
			<th class="tbl2">Medicines</th>  
			<th class="tbl2">Edit</th>  
			<th class="tbl2">Delete</th>  
			<th class="tbl2">Generate PDF</th>  
		</tr>  
		<tr *ngFor="let prescription of prescriptions">  
			<td class="tbl2">{{prescription.pId}}</td>  
			<td class="tbl2">{{prescription.patientName}}</td>  
			<td class="tbl2">{{prescription.patientAge}}</td>  
			<td class="tbl2">{{prescription.dateTime | date:'yyyy-MM-dd'}}</td>  
			<td class="tbl2">{{prescription.doctorName}}</td>  
			<td class="tbl2">{{prescription.medicinesName}}</td>  
			<td class="tbl2">  
			<button type="button" mat-stroked-button class="btn btn-info" matTooltip="Click Edit Button" (click)="loadPrescriptionToEdit(prescription.pId)">Edit</button>  
			</td>  
			<td class="tbl2">  
				<button type="button" class="btn btn-danger" color="accent" mat-fab matTooltip="Click Delete Button" (click)="deletePrescription(prescription.pId)"><mat-icon>delete</mat-icon></button>  
			</td>  
			<td class="tbl2">  
				<button  type="button" mat-raised-button color="accent" class="btn btn-info" matTooltip="Generate PDF" routerLink="generatePdf/{{prescription.pId}}" >Generate</button>  
			</td>
		</tr>  

		</table>  
	  </form>  
	  </mat-card-content>  
	</mat-card>  
</div>


