<mat-card>  
	<mat-toolbar color="accent">  
	  <div align="center" style="color:white;text-align: right;">  
		<button type="doctor" mat-raised-button color="Link" matTooltip="See the details doctors Button" routerLink="/doctors">doctor</button>
		<button type="medicine" mat-raised-button color="Link" matTooltip="See all the medicines" routerLink="/medicines">medicine</button>  
		<button type="prescription" mat-raised-button color="Link" matTooltip="See all the prescriptions" routerLink="/prescriptions">prescription</button>    
	  </div>    
	</mat-toolbar>  
</mat-card>
<router-outlet></router-outlet>
 