<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

      <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div><br> 
        <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
          <mat-card-content>
            <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" formControlName="Username" matTooltip="Enter username" autocomplete="off" required>
            </mat-form-field>
            <mat-error>  
              <span *ngIf="!loginForm.get('Username').value && loginForm.get('Username').touched"></span>  
            </mat-error> 
    
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Password" formControlName="Password" matTooltip="Enter Password" autocomplete="off" required>
            </mat-form-field>
            <mat-error>  
              <span *ngIf="!loginForm.get('Password').value && loginForm.get('Password').touched"></span>  
            </mat-error> 

          </mat-card-content>
          <button type="submit" mat-stroked-button color="accent" class="btn-block">Log in</button>
        </form>
      </mat-card>

</div>